  
.Card {
    background-image: url('./imagess/Basic.png');
    background-size: cover;
    width: 724px;
    height: 248px;
    border-top-left-radius: 25px;
    border: 1px solid black;
}
.Card {
    display: flex;
    text-align: left;
}
.Card h1 {
    font-family:"Arial","Helvetica", sans-serif;
    font-style: normal;
    font-weight: 1200;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: -7px;
    color: #C4C4C4;
    
}
.Card h3 {
    font-family:"Arial","Helvetica", sans-serif;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 1500;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}
.Card span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #1F2326;
    width: 315px;
    display: flex;
}
.text {
    padding-left: 50px;
}

.box img {
    padding-top: 32px;
    padding-left: 97px;
}
.Card {
    margin-left: 20px;
    margin-right: 120px;
    margin-top: 160px;
}