body{
    background-image: url(./bckg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

}
.container {
  width: 1520px;
  height: 2200px;
  background-image: url(./back.png);
  background-repeat: no-repeat;
  background-size: cover;
}

